---
---

// Variables
@import "colors";
@import "variants";
@import "variables";
@import "breakpoints";
@import "typography";

// "Components"
@import "header";
@import "navigation";
@import "footer";
@import "container";
@import "slope";
@import "links-section";
@import "image-caption";
@import "blockquote";


html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: mr-eaves-modern, sans-serif;
    font-size: 14px;
    color: #1C1C1B;
}

h1 {
    font-family: HelveticaNeueLTPro-Bd, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    line-height: 1em;
    letter-spacing: -2px;
    margin-bottom: 0.4em;
    padding-top: 0.2em;
}
h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: $font-size-lg;
    line-height: 1em;
}
h3 {
    font-family: HelveticaNeueLTPro-Bd, sans-serif;
}

nav {
    background: black;
    padding: 10px 20px;
    text-align: right;
}

nav a {
    color: white;
    font-size: 0.8em;
    margin: 10px;
}
main {
    background: #E54545;
    color: #FFFFFF;
    padding: 5px 0;
    margin: 0 auto; padding: 0 20px; max-width: 960px;
}
main > h1,
main > h2,
main h3,
main > p,
main > ul,
main > form {  }
main > p {
    margin-top: 0;
    margin-bottom: 2em;
}
main li { margin-left: 40px }
main a { color: inherit }
main form { margin-bottom: 1em }

main {
    h2{
        margin-bottom: 7px;
    }
}

.label {
    display: inline-block;
    background: #f4b4b4;
    padding: 0 4px;
    font-size: 0.7em;
    color: #1C1C1B;
    border-radius: 0.2em;
}

/*.pasfoto {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    transform: rotate(-1deg);
    height: 320px;
    float: right; border: 20px solid white; margin: 20px;
}*/

.article-image {
    background: url() center center no-repeat; background-size: cover; height: 40vw; position: relative
}

.page-menu a {
    font-family: HelveticaNeueLTPro-Bd, sans-serif;
    display: block;
    padding: 15px 0;
    color: inherit;
    text-decoration: none;
}

.slope {
    background: url(/assets/img/angled_slope_red.svg) top left no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: -1px;
    height: 11vw
}
.slope--flip {
    background: url(/assets/img/angled_slope_red--flip.svg) top left no-repeat;
    background-size: cover;
    top: auto;
    bottom: -1px;
}

@media screen and (min-width: 320px) {
    html, body { font-size: 25px }
}
@media screen and (min-width: 640px) {
    html, body { font-size: 24px }
}
@media screen and (min-width: 1280px) {
    html, body { font-size: 30px }
}
