<div class="tiltshift-2020-image-block" data-component-id="tiltshift-2020-image-block">
  <style>    
    .tiltshift-2020-image-block {
      background: url({{ site.url }}/{{ page.image }}) center center no-repeat;
      background-size: cover;
      height: 340px;
      position: relative
    }
    .tiltshift-2020-image-block-caption {
      position: absolute;
      bottom: 40px;
      right: 0;
      text-align: right;
      color: white;
      padding: 10px;
      font-family: mr-eaves-modern, sans-serif;
      opacity: 0.75;
    }
  </style>

  <img src="/assets/img/angled_slope_white.svg" style="width: 100%; margin-top: -1px;">

  <div class="tiltshift-2020-image-block-caption">{{ page.caption }}</div>

  <img src="/assets/img/angled_slope_white.svg" style="
      width: 100%;
      -webkit-transform: scaleX(-1) scaleX(-1);
      transform: scaleY(-1) scaleX(-1);
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: -1px;
  ">
</div>
