<div class="tiltshift-big-theme" data-component-id="tiltshift-big-theme">
  <style>
    .tiltshift-big-theme {
      padding: 25px 0;
    }
    .tiltshift-big-theme-title {
      font-family: Gilroy-ExtraBold, sans-serif;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7);
      font-size: 28px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .tiltshift-big-theme a {
      font-family: HelveticaNeueLTPro-Bd, sans-serif;
      color: #fff;
      font-weight: 300;
      font-size: 50px;
      line-height: 1.8;
      display: block;
      white-space: nowrap;
      text-decoration: none;
    }
    @media only screen and (max-width: 1280px) {
      .tiltshift-big-theme,
      .tiltshift-big-theme a {
        font-size: 42px !important;
      }
    }
    @media only screen and (max-width: 640px) {
      .tiltshift-big-theme a {
        font-size: 32px !important;
      }
    }
    @media only screen and (max-width: 500px) {
      .tiltshift-big-theme a {
        font-size: 22px !important;
      }
    }
  </style>
  {% include menu.html %}
  <!-- <img style="height: 80px; margin: 20px 0" src="/assets/img/Logo_transparant.svg"> -->
</div>
