<div class="tiltshift-contact-form" data-component-id="tiltshift-contact-form">
  <style>
    .tiltshift-contact-form {
      margin-top: 0.8em;
    }
    .tiltshift-contact-form form div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .tiltshift-contact-form form span {
      flex: 1 0 8em;
      max-width: 8em;
    }
    .tiltshift-contact-form form input {
      display: block;
      height: 1.2em;
      border: 0;
      background: #fff;
      color: #1C1C1B;
      font-size: inherit;
      font-family: mr-eaves-modern, serif;
      padding-left: 0.4em;
      flex: 1 0 8em;
      margin-top: 0.4em;
    }
    .tiltshift-contact-form form textarea {
      height: 4em;
      width: 100%;
      border: 0;
      background: #fff;
      color: #1C1C1B;
      font-size: inherit;
      font-family: mr-eaves-modern, serif;
      padding: 0.4em;
      margin-top: 0.4em;
    }
    .tiltshift-contact-form button {
      background: #f4b4b4;
      color: #1C1C1B;
      font-size: inherit;
      font-family: mr-eaves-modern, serif;
      display: block;
      text-align: center;
      border: 0;
      line-height: 1.2em;
      width: 100%;
      cursor: pointer;
      margin-top: 0.4em;
    }
  </style>
  <h3>Ook innoveren met Tiltshift?</h3>
  <p>We helpen u graag. Laat een bericht achter, dan nemen we snel contact op voor een kennismaking.</p>
  <form>
    <input type="hidden" name="pagina" value="{{ page.title }}">
    <div>
      <span>uw naam</span>
      <input type="text" name="voornaam" placeholder="...">
    </div>
    <div style="display: none">
      <span>organisatie</span>
      <input type="text" name="achternaam" placeholder="...">
    </div>
    <div style="display: none">
      <span>e-mailadres</span>
      <input type="text" name="email" placeholder="...">
    </div>
    <div style="display: none">
      <span>telefoonnummer</span>
      <input type="text" name="telefoon" placeholder="...">
    </div>
    <div style="display: none">
      <span>vraag of probleem</span>
      <textarea name="probleem" placeholder="..."></textarea>
    </div>
    <button style="display: none">Versturen</button>
  </form>
</div>
<script>
  $("input").focus(function () {
    $("form div, form button").show();
  });
  $("form").submit(function (e) {
    e.preventDefault();
    $.post('https://berichten.tiltshift.nl', $(this).serialize(), function () {
      $("form").hide();
      $(".tiltshift-contact-form h2").html("Bedankt voor uw bericht");
      $(".tiltshift-contact-form p").html("We nemen snel contact met u op!");
    });
  });
</script>