{% if include.persoon and site.data.mensen[include.persoon] %}
{% assign persoon = site.data.mensen[include.persoon] %}
{% else %}
{% assign persoon = site.data.mensen.info %}
{% endif %}
<div class="cta container-sm margin-b">
    {% if include.header %}
    <h3 class="cta__title">{{ include.header }}</h3>
    {% endif %}
    <div class="cta__body">
        {% if persoon.img %}
        <div class="cta__body__image">
            <a href="{{ persoon.link }}">
                <img class="logo" src="/assets/img/mail/{{ persoon.img }}" style="width: 120px; height: 120px">
            </a>
        </div>
        {% endif %}
        <div class="cta__body__right">
            <div class="cta__body__right__text">
                <p>Tijdens een vrijblijvend intake- en adviesgesprek bespreken we jouw situatie en hoe we daarbij kunnen helpen.</p>
            </div>
            <div class="cta__body__right__text" style="width: 100%">
                <p>
                    <a href="tel:{{ persoon.tel }}">{{ persoon.tel_display }}</a><br>
                    <a href="mailto:{{ persoon.mail }}">{{ persoon.mail }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
