<h2 class="mt-4">{{ include.header | default: "Meer weten?" }}</h2>
<div class="cta container-sm margin-b">
    <h3 class="cta__title">Maak een afspraak met <a href="{{ site.data.contact-details.intake-en-advies.link }}">{{ site.data.contact-details.intake-en-advies.name }}</a>.</h3>
    <div class="cta__body">
        <div class="cta__body__image">
            <img class="logo" src="/assets/img/mail/{{ site.data.mensen[site.data.contact-details.intake-en-advies.responsible].img }}" style="width: 120px; height: 120px">
        </div>
        <div class="cta__body__right">
            <div class="cta__body__right__text">
                <p>Tijdens een vrijblijvend intake- en adviesgesprek bespreken we jouw situatie en hoe we daarbij kunnen helpen.</p>
            </div>
            <div class="cta__body__right__text" style="width: 100%">
                <p>
                    <a href="tel:{{ site.data.contact-details.intake-en-advies.tel }}">{{ site.data.contact-details.intake-en-advies.tel_display }}</a><br>
                    <a href="mailto:{{ site.data.contact-details.intake-en-advies.mail }}">{{ site.data.contact-details.intake-en-advies.mail }}</a>
                </p>
            </div>
            <a href="https://calendly.com/johan-at-tiltshift/intake" target="_blank" class="btn">Plan direct een afspraak</a>
        </div>
    </div>
</div>
