<footer class="footer">
    <div class="footer__inner">
        <div class="footer__inner__columns">
            <div class="footer__inner__columns_column">
                <h2>Contact</h2>
                <p>T +31 (0)20 722 02 07</p>

                <a href="mailto:info@tiltshift.nl">info@tiltshift.nl</a>
            </div>
            <div class="footer__inner__columns_column">
                <p>Bezoekadres</p>
                <p>Vechtclub XL</p>
                <p>Europalaan 2B</p>
                <p>3526 KS Utrecht</p>
            </div>
            <div class="footer__inner__columns_column">
                <p>Postadres</p>
                <p>Strawinskylaan 11</p>
                <p>2102 CM Heemstede</p>
                <br>
                <p>KvK 68994222</p>
                <p>BTW NL857680237B01</p>
            </div>
        </div>

    </div>
</footer>