<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='icon' type='image/png' href='{{ site.url }}/favicon.svg'>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@tiltshiftnl" />
  <meta name="twitter:creator" content="@jpagroenen" />

  <meta name='title' content='{{ page.title }}'>
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta property='og:title' content='{{ page.title }}'>

  <meta property='og:description' content='{{ page.description }}'>
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name='description' content='{{ page.description }}'>

  <meta property='og:image' content='{{ site.url }}/{{ page.image }}'>
  <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}" />
  <link rel='image_src' href='{{ site.url }}/{{ page.image }}'>

  <meta name='keywords' content='{{ page.keywords }}'>

  <link rel="stylesheet" href="https://use.typekit.net/tzf0mdq.css">
  <!--
  /**
  * @license
  * MyFonts Webfont Build ID 357924
  * 
  * The fonts listed in this notice are subject to the End User License
  * Agreement(s) entered into by the website owner. All other parties are 
  * explicitly restricted from using the Licensed Webfonts(s).
  * 
  * You may obtain a valid license from one of MyFonts official sites.
  * http://www.fonts.com
  * http://www.myfonts.com
  * http://www.linotype.com
  *
  */
  -->
  <link rel="stylesheet" type="text/css" href="/assets/fonts/TILTSHIFT.css">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  {% include google-analytics.html %}
</head>
