<head>
  <meta charset="utf-8">
  <title>{{ page.title | replace: "<br>", " " }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@tiltshiftnl" />
  <meta name="twitter:creator" content="@jpagroenen" />

  <meta name='title' content='{{ page.title | replace: "<br>", " " }}'>
  <meta name="twitter:title" content="{{ page.title | replace: " <br>", " " }}" />
  <meta property='og:title' content='{{ page.title | replace: "<br>", " " }}'>

  <meta property='og:description' content='{{ page.description }}'>
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name='description' content='{{ page.description }}'>

  <meta property='og:image' content='{{ page.image }}'>
  <meta name="twitter:image" content="{{ page.image }}" />
  <link rel='image_src' href='{{ page.image }}'>

  <meta name='keywords' content='{{ (page.labels | join: ", ") | default: page.keywords }}'>

  <link rel="stylesheet" href="https://use.typekit.net/tzf0mdq.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/TILTSHIFT.css">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <!-- <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script> -->

  {% include google-analytics.html %}

</head>