<div class="navigation" href="/menu">
  <a class="navigation__logo" href="/"><img src="/assets/img/logo_cropped.svg"></a>
  <div class="navigation__background">
    {% include slope-black-flipped.html %}
    {% include slope-white-flipped.html %}
  </div>
  <div class="navigation__links">
    {% include main-links.html %}
  </div>

  <a href="/menu" onclick="return false">
    <div class="navigation__hamburger" onclick="toggleNav()">
      <img class="navigation__hamburger__icon" src="/assets/img/hamburger-menu.svg">
    </div>
    <div class="navigation__mobile-menu" id="mobile-navigation">
      <div class="navigation__mobile-menu__backdrop" onclick="toggleNav()">
      </div>
      <div class="navigation__mobile-menu__panel">
          <div class="navigation__mobile-menu__panel__close" onclick="toggleNav()">
            <img class="navigation__mobile-menu__panel__close__icon" src="/assets/img/close.svg">
          </div>
          <div class="navigation__mobile-menu__panel__links">
            {% include main-links.html %}
          </div>
      </div>
    </div>
  </a>
</div>
<div class="header-with-image {% if page.hideBanner %}hidden{% endif %}">
  <style>
    .header-with-image {
      /* background: url({{ site.url }}/{{ page.image }});
       */
      background: url(https://www.tiltshift.nl//assets/img/foto/Tiltshift-Aanpak-Innovatie-Interventie-Vastgelopen-digitaliserings-project.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .header-with-image-overlay {
      background: url({{ site.url }}/{{ page.image }});
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

  <!-- <div class="header-with-image-overlay-black"></div> -->
  <!-- <div class="header-with-image-overlay"></div> -->

  <div class="header-with-image__content">

    <div class="header-with-image__content__top">
    </div>

    {% if page.quote %}
    <div class="header-with-image__caption header-with-image__caption__quote">
      <div class="header-with-image__caption__background">“{{ (page.quote }}”</div>
      <div class="header-with-image__caption__content">“{{ (page.quote }}”</div>
    </div>
    {% elsif page.subtitle %}
    <!-- <div class="header-with-image__caption header-with-image__caption__subtitle">
      <div class="header-with-image__caption__background">{{ page.subtitle }}</div>
      <div class="header-with-image__caption__content">{{ page.subtitle }}</div>
    </div> -->
    {% endif %}

    <div class="slope slope--flip">
      <div class="image_caption">{{ page.caption }}</div>
    </div>
  </div>
</div>

<script>
  function toggleNav() {
    document.getElementById("mobile-navigation").classList.toggle('active');
  }
</script>
