<div class="header-with-image">
  <style>
    .header-with-image {
      background: url({{ site.url }}/{{ page.image }}) center center no-repeat;
    }

    .header-with-image-overlay {
      background: url({{ site.url }}/{{ page.image }}) center center no-repeat;
    }
  </style>

  <div class="header-with-image-overlay-black"></div>

  <div class="header-with-image-overlay"></div>

  <div style="position: absolute; width: 100%; height: 100%;">

    <a href="/"><img class="logo" src="/assets/img/logo.svg"></a>

    <a href="/menu">
      <img class="menu" src="/assets/img/hamburger-menu.svg">
    </a>

    {% if page.quote %}
    <div class="header-with-image__caption header-with-image__caption__quote">
      <div class="header-with-image__caption__background">“{{ (page.quote }}”</div>
      <div class="header-with-image__caption__content">“{{ (page.quote }}”</div>
    </div>
    {% elsif page.subtitle %}
    <div class="header-with-image__caption header-with-image__caption__subtitle">
      <div class="header-with-image__caption__background">{{ page.subtitle }}</div>
      <div class="header-with-image__caption__content">{{ page.subtitle }}</div>
    </div>
    {% endif %}

    <div class="slope slope--flip">
      <style>
        .image_caption {
          color: white;
          font-family: 'mr-eaves-modern';
          font-size: 0.5em;
          position: absolute;
          right: 40px;
          bottom: 50px;
          text-align: right;
          transform: rotate(6deg);
        }
      </style>
      <div class="image_caption">{{ page.caption }}</div>
    </div>
  </div>
</div>