{% assign logos = "
gemeente-rotterdam.png,
politie.png,
ministerie-van-volksgezondheid-welzijn-en-sport.png,
amsterdamse-federatie-van-woningcorporaties.png,
gemeente-amsterdam.png,
vu-university-amsterdam.png,
careyn.png,
provincie-flevoland.png" | split: ',' %}

<div class="container-md ">
    <div class="logos even-blocks-grid margin-y">
        {% for logo in logos %}
            <div class="logo-block">
                <img src="/assets/img/logos/{{ logo }}">
            </div>
        {% endfor %}
    </div>
</div>

