<a class="heading-neue heading-neue--small heading-neue--link {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
<a class="heading-neue heading-neue--small heading-neue--link {% if page.url contains '/projecten' %}active{% endif %}" href="/projecten/">Projecten</a>
<a class="heading-neue heading-neue--small heading-neue--link {% if page.url contains '/aanpak' %}active{% endif %}" href="/methodes/">Aanpak</a>
<a class="heading-neue heading-neue--small heading-neue--link {% if page.url contains '/mensen' %}active{% endif %}" href="/mensen/">Onze mensen</a>
