<a class="heading-neue heading-neue--small heading-neue--link {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
<a class="heading-neue heading-neue--small heading-neue--link {% if page.url contains '/partners' %}active{% endif %}" href="/partners/">Partners</a>
<a class="heading-neue heading-neue--small heading-neue--link {% if page.url contains '/projecten' %}active{% endif %}" href="/projecten/">Projecten</a>
<a class="heading-neue heading-neue--small heading-neue--link {% if page.url contains '/aanpak' %}active{% endif %}" href="/aanpak/">Aanpak</a>
<a class="heading-neue heading-neue--small heading-neue--link {% if page.url contains '/contact' %}active{% endif %}" href="/contact/">Contact</a>
