<div class="menu-close" data-component-id="menu-close">
  <style>
    .menu-close {
      width: 40px;
    }
    .menu-close a {
      text-decoration: none;
      cursor: pointer;
    }
    .menu-close-text {
      font-family: 'Merriweather', serif;
      font-weight: 300;
      line-height: 1.9;
      font-size: 30px;
      color: white;
      text-align: center;
      width: 40px;
    }
  </style>
  <a class="menu-close-link" href="{{ site.url }}/">
    <div class="menu-close-wrapper">
      <div class="menu-close-text">✕</div>
    </div>
  </a>
</div>
