
{% assign people = site.mensen | sort: "order"  %}

<div class="container-md people">
    {% if include.excludeCurrent %}
    <h2>Kernteam</h2>
    {% endif %}
    <div class="grid grid--three {% if include.excludeCurrent %}grid--three{% endif %}">
    {% for person in people  %}
        {% unless person.title == page.title && include.excludeCurrent %}
            {% include person-block.html image=person.personImage title=person.title type=person.type url=person.url %}
        {% endunless %}
    {% endfor %}
    </div>
</div>
