{% assign title = include.title %}
{% assign intro = include.intro %}

{% assign projecten = site.projecten | where: "featured", "true" | sort: "featured_order" %}

<div class="container-md  margin-y">
    <h2>{{title}}</h2>
    <p>{{intro}}</p>
    <div class="grid grid--three projects-homepage">
        {% for project in projecten  %}
            {% include image-link-block.html image=project.featured_image title=project.title excerpt=project.excerpt url=project.url %}
        {% endfor %}
    </div>
    <a href="/projecten/" class="link-centered">alle projecten</a>
</div>