<div class="tiltshift-2020-page-menu-block" data-component-id="tiltshift-2020-page-menu-block">
  <style>
    .tiltshift-2020-page-menu-block {
    }
    .tiltshift-menu a {
      font-family: mr-eaves-modern, sans-serif;
      display: block;
      padding: 15px 0;
      font-weight: 500;
      line-height: 1.2;
      color: #3c3c3c;
      font-size: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      text-decoration: none;
    }
  </style>
  {% include menu.html %}
</div>
