<div class="tiltshift-menu" data-component-id="tiltshift-menu">
  <style>
    .tiltshift-menu {
    }
    .tiltshift-menu a {
      font-family: 'Roboto', sans-serif;
      display: block;
      padding: 15px 0;
      font-weight: 500;
      line-height: 1.2;
      color: #3c3c3c;
      font-size: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      text-decoration: none;
    }
  </style>
  <a href="/explore">Explore: ophalen van problemen en ideeën</a>
  <a href="/design-sprint">Design Sprint: van idee naar prototype</a>
  <a href="/fixxx">Fixxx: snelle innovatie die werkt</a>
</div>
