<div class="tiltshift-close" data-component-id="tiltshift-close">
  <style>
    .tiltshift-close {
      width: 40px;
    }
    .tiltshift-close a {
      text-decoration: none;
      cursor: pointer;
    }
    .tiltshift-close-text {
      font-family: 'Merriweather', serif;
      font-weight: 300;
      line-height: 1.9;
      font-size: 30px;
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      width: 40px;
    }
  </style>
  <a class="tiltshift-close-link" href="{{ site.url }}/">
    <div class="tiltshift-close-wrapper">
      <div class="tiltshift-close-text">✕</div>
    </div>
  </a>
</div>
