<div class="tiltshift-title" data-component-id="tiltshift-title">
  <style>
    .tiltshift-title {
      /* margin: 80px; */
    }
    .tiltshift-title-text {
      font-family: Gilroy-ExtraBold, sans-serif;
      font-size: 74px;
      line-height: 1em;
      font-weight: 500;
      color: #1C1C1B;
      margin-top: 20px;
    }
    .tiltshift-title-subtitle-text {
      font-family: Northwell, serif;
      font-size: 52px;
      line-height: 1em;
      font-weight: 100;
      color: #1C1C1B;
      margin-top: -40px;
    }
  </style>
  <center>
  <h1 class="tiltshift-title-text">{{ page.title }}</h1>
  {% if page.subtitle %}
  <h2 class="tiltshift-title-subtitle-text">{{ page.subtitle }}</h2>
  {% endif %}
  </center>
</div>
