<div class="tiltshift-contact-button" data-component-id="tiltshift-contact-button">
  <style>
    .tiltshift-contact-button {
      text-align: center;
    }
    .tiltshift-contact-button button {
      font-family: 'Roboto', sans-serif;
      padding: 10px 15px;
      border-radius: 80px;
      background: #df4c44 url('/assets/img/phone.png') center center no-repeat;
      background-size: 60%;
      font-weight: 100;
      line-height: 1.2;
      font-size: 22px;
      color: #fff;
      border: 0;
      cursor: pointer;
      margin-top: 84px;
      margin-bottom: 84px;
      height: 56px;
      width: 56px;
      border-bottom: 2px solid #999;
    }
  </style>
  <a href="tel:+31207220207">
    <button><!-- Bel direct! --></button>
  </a>
</div>
