<div class="tiltshift-hamburger" data-component-id="tiltshift-hamburger">
  <style>
    .tiltshift-hamburger {
      width: 40px;
    }
    .tiltshift-hamburger a {
      text-decoration: none;
      cursor: pointer;
    }
    .tiltshift-hamburger-line {
      height: 4px;
      width: 100%;
      background: #464646;
      margin-bottom: 4px;
    }
    .tiltshift-hamburger-text {
      font-family: 'Merriweather', serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.9;
      color: #464646;
      font-size: 14px;
    }
    .tiltshift-hamburger-overlay {
      width: 100%;
      height: 100%;
      background: black;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      opacity: 0.95;
      overflow-y: auto;
    }
  </style>
  <div class="tiltshift-hamburger-background"></div>
  <a class="tiltshift-hamburger-link" href="/menu">
    <div class="tiltshift-hamburger-wrapper">
      <div class="tiltshift-hamburger-line"></div>
      <div class="tiltshift-hamburger-line"></div>
      <div class="tiltshift-hamburger-line"></div>
      <div class="tiltshift-hamburger-line"></div>
      <div class="tiltshift-hamburger-text">menu</div>
    </div>
  </a>
  <div style="display: none" class="tiltshift-hamburger-overlay">
    {% include tiltshift-menu-page.html %}
  </div>
</div>
