<div class="tiltshift-contact-info" data-component-id="tiltshift-contact-info">
  <style>
    .tiltshift-contact-info {
      font-family: 'Roboto', sans-serif;
      padding: 25px 50px;
    }
    .tiltshift-contact-info-title {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7);
      font-size: 28px;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .tiltshift-contact-info-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.7;
      color: rgba(255, 255, 255, 0.5);
    }
    .tiltshift-contact-info-text b {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.7;
      color: rgba(255, 255, 255, 0.5);
      color: #fff;
    }
    .tiltshift-contact-info a {
      color: inherit;
      text-decoration: none;
    }
    .tiltshift-contact-info .tel {
      background: #fff;
      color: #000;
      display: inline-block;
      padding: 0px 5px;
      margin-right: 3px;
      border-radius: 3px;
      font-weight: bold;
    }
    .tiltshift-contact-info .map {
      background: url(/assets/img/map_marker.svg) center center no-repeat;
      height: 32px;
      width: 32px;
      background-size: contain;
      display: inline-block;
      vertical-align: text-bottom;
      opacity: 0.5;
    }
  </style>
  <h3 class="tiltshift-contact-info-title">Contact</h3>
  <div class="tiltshift-contact-info-text">
    <p>
      <span class="tel">T</span>
      <a href="tel:+31207220207"><b>+31 (0)20 722 02 07</b></a>
    </p>
    <p>
      <a href="mailto:info@tiltshift.nl">info@tiltshift.nl</a>
    </p>
    <p>
      <b>Bezoekadres</b><br>
      <a href="https://goo.gl/maps/peCUGb8Q9w62" target="_blank">
        The Hague Tech
        <span class="map"></span>
      </a><br>
      Juliana van Stolberglaan 10<br>
      2595 CL Den Haag
    </p>
    <p>
      <b>Vestigingsadres</b><br>
      Baarsjesweg 194 D<br>
      1057 HR Amsterdam<br>
    </p>
    <p>
      KvK 68994222<br>
      BTW NL857680237B01
    </p>

  </div>
</div>
