<div class="tiltshift-big-theme" data-component-id="tiltshift-big-theme">
  <style>
    .tiltshift-big-theme {
      padding: 25px 0;
    }
    .tiltshift-big-theme-title {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7);
      font-size: 28px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .tiltshift-big-theme a {
      font-family: 'Merriweather', serif;
      color: #fff;
      font-weight: 300;
      font-size: 50px;
      line-height: 1.8;
      display: block;
      white-space: nowrap;
      padding-right: 30px;
      text-decoration: none;
    }
    @media only screen and (max-width: 1280px) {
      .tiltshift-big-theme,
      .tiltshift-big-theme a {
        font-size: 42px !important;
      }
    }
    @media only screen and (max-width: 640px) {
      .tiltshift-big-theme a {
        font-size: 32px !important;
      }
    }
    @media only screen and (max-width: 500px) {
      .tiltshift-big-theme a {
        font-size: 22px !important;
      }
    }
  </style>
  <h3 class="tiltshift-big-theme-title">TiltShift innovatie</h3>
  {% include menu.html %}
</div>
