<div class="tiltshift-title" data-component-id="tiltshift-title">
  <style>
    .tiltshift-title {
    }
    .tiltshift-title-text {
      font-family: 'Merriweather', serif;
      font-size: 36px;
      line-height: 1.4em;
      font-weight: 500;
      margin-bottom: 12px;
      color: #3c3c3c;
    }
    .tiltshift-title-subtitle-text {
      font-family: 'Merriweather', serif;
      font-size: 24px;
      line-height: 1.4em;
      font-weight: 100;
      margin-bottom: 12px;
      color: #3c3c3c;
    }
  </style>
  <h1 class="tiltshift-title-text">{{ page.title }}</h1>
  {% if page.subtitle %}
  <h2 class="tiltshift-title-subtitle-text">{{ page.subtitle }}</h2>
  {% endif %}
</div>
