<div class="tiltshift-big-theme" data-component-id="tiltshift-big-theme">
  <style>
    .tiltshift-big-theme {
      padding: 30px 120px 30px 30px;
    }
    .tiltshift-big-theme-title {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7);
      font-size: 28px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .tiltshift-big-theme a {
      font-family: 'Merriweather', serif;
      color: #fff;
      font-weight: 300;
      font-size: 50px;
      line-height: 1.8;
      display: block;
      white-space: nowrap;
      padding-right: 30px;
      text-decoration: none;
    }
  </style>
  <h3 class="tiltshift-big-theme-title">Thema's</h3>
  <a href="/explore">TiltShift Explore</a>
  <a href="/design-sprints">TiltShift Design Sprints</a>
  <a href="/fixxx">TiltShift Fixxx®</a>
  <a href="/push">TiltShift Push</a>
</div>
