<div class="tiltshift-contact-button" data-component-id="tiltshift-contact-button">
  <style>
    .tiltshift-contact-button {
    }
    .tiltshift-contact-button button {
      font-family: 'Roboto', sans-serif;
      padding: 10px 15px;
      border-radius: 5px;
      background: #df4c44;
      font-weight: 500;
      line-height: 1.2;
      font-size: 22px;
      color: #fff;
      border: 0;
      cursor: pointer;
      margin-top: 32px;
    }
  </style>
  <a href="/menu">
    <button>contact</button>
  </a>
</div>
