<div class="tiltshift-hamburger" data-component-id="tiltshift-hamburger">
  <style>
    .tiltshift-hamburger {
      width: 40px;
    }
    .tiltshift-hamburger a {
      text-decoration: none;
      cursor: pointer;
    }
    .tiltshift-hamburger-line {
      height: 4px;
      width: 100%;
      background: #464646;
      margin-bottom: 4px;
    }
    .tiltshift-hamburger-text {
      font-family: 'Merriweather', serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.9;
      color: #464646;
      font-size: 14px;
    }
  </style>
  <a href="/menu">
    <div class="tiltshift-hamburger-wrapper">
      <div class="tiltshift-hamburger-line"></div>
      <div class="tiltshift-hamburger-line"></div>
      <div class="tiltshift-hamburger-line"></div>
      <div class="tiltshift-hamburger-line"></div>
      <div class="tiltshift-hamburger-text">menu</div>
    </div>
  </a>
</div>
