blockquote{
    width: $container-sm;
    max-width: 100%;
    margin: 0 auto $margin-bottom-block;
    border-left: 4px solid $red;
    > p {
        display: block;
        padding: .60rem $gutter-sm;
        font-style: italic;
        color: $red;
        word-wrap: break-word;
        font-size: 1.25rem;
        &:before{
            content:"“";
        }
        &:after{
            content:"”";
        }
    }
}
