.container-md{
    width: calc(100% - (2 * #{$gutter-sm}) );
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-lg) {
        width: $container-width-md;
    }

    &--margin-top{
        @media screen and (min-width: $breakpoint-lg) {
            margin-top: 8rem;
        }
    }

}