
@mixin container-sm {
    width: calc(100% - (2 * #{$gutter-sm}) );
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 0.5rem;
    img {
        height: auto;
        width: 100%;
        max-width: 320px;
        border: 12px solid white;
    }
    @media screen and (min-width: $breakpoint-md) {
        width: $container-width-sm;
        img {
            border: 0;
        }
    }
}

@mixin container-md {
    width: calc(100% - (2 * #{$gutter-sm}) );
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    @media screen and (min-width: $breakpoint-lg) {
        width: $container-width-lg;
    }
}

.container-sm{
    @include container-sm();
    &--margin-top{
        @media screen and (min-width: $breakpoint-lg) {
            margin-top: 8rem;
            width: 100%;
            justify-content: center;
            gap: 0.5rem;
        }
    }
}

.container-md{
    @include container-md();
    &--margin-top{
        @media screen and (min-width: $breakpoint-lg) {
            margin-top: 8rem;
        }
    }
}