.cta{
    margin-bottom: 4rem;
    padding-bottom: 1.5rem;
    padding: 20px;
    &__title{
        color: $primair-blauw;
        margin-bottom: $gutter-sm;
    }
    &__body{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        &__image{
            display: flex;
        }
        &__right{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-left: $gutter-sm;
            p{
                margin: 0;
            }
            a{
                text-align: center;
            }
            &__text{
                margin-bottom: 1rem;
            }
        }
    }
}