.header-with-image {
    background-size: cover;
    height: 380px;
    min-height: 30vw;
    position: relative;
    &__content{
      z-index: 999;
      &__top{
        display: flex;
        justify-content: space-between;
        padding: $gutter-sm;
      }
    }
  }
  .header-with-image__caption {
    display: none;
    position: absolute;
    top: 140px;
    right: 40px;
    width: 60%;
    font-family: HelveticaNeueLTPro-Bd, sans-serif;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
  }
  }
  .header-with-image__caption__background {
    background: #ffffff;
    color: #000;
    opacity: 0.2;
    position: absolute;
    padding: 0.5em 1em;
  }
  .header-with-image__caption__content {
    margin: 0.5em 1em;
    color: #ffffff;
    position: absolute;
    text-shadow: 0 0 20px #1C1C1B;
  }
  .header-with-image-overlay {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E54545;
    /*Shades of Cinnabar: https://www.htmlcsscolor.com/hex/E54545*/
    background-blend-mode: multiply;
    opacity: 0.3;
  }
  .header-with-image-overlay-black {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
  }