.mb-4{
    margin-bottom: $gutter-xl;
}

.mt-4{
    margin-top: $gutter-xl;
}

.mt-2{
    margin-top: $gutter-md;
}

.margin-y{
    margin-top: $gutter-md;
    margin-bottom: $gutter-md;

    @media screen and (min-width: $breakpoint-lg) {
        margin-top: $gutter-lg;
        margin-bottom: $gutter-lg;
    }

}

.margin-b{
    margin-bottom: $gutter-md;
    @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: $gutter-lg;
    }
}

.link-centered{
    display: flex;
    justify-content: center;
}