.links-section{
    display: flex;
    flex-direction: column;
    margin-bottom: $gutter-sm;

    .heading-neue{
        font-size: $font-size-heading-sm;
        @media screen and (min-width: $breakpoint-md) {
            font-size: $font-size-heading-xs;
        }
    }

    a {
        color: $black;
        margin-right: $gutter-xs;
        text-decoration: none;
        line-height: 1.4;
    }

    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
    }

}