.logo-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $gutter-md;
    img{
        max-width: 150px;
        max-height: 83px;
        @media screen and (min-width: $breakpoint-lg) {
            max-width: 194px;
        }
    }
    @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: $gutter-md;
    }
}