.logos{
    background-color: none;
}

.logo-block img,
.klant-card__logo img{
    filter: grayscale(1);
    opacity: .75;
    transition: filter .2s ease, opacity .2s ease;
    &:hover{
        filter: none;
        opacity: 1;
    }
}
