.logo-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $gutter-md;
    img{
        // breedte per logo via logo_width (oppervlakte-genormaliseerd)
        max-width: 100%;
        max-height: 83px;
        height: auto;
    }
    @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: $gutter-md;
    }
}