.navigation{
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    box-shadow: 0px 3px 7px #8888882b;
    @media screen and (min-width: $breakpoint-md) {
        height: 70px;
        background-color: $black;
        justify-content: flex-end;
    }
    &__logo{
        margin-left: $header-gutter;
        width: 60px;
        display: flex;
        // justify-content: center;
        align-items: center;
        z-index: 9;
        @media screen and (min-width: $breakpoint-md) {
            margin-left: 0;
            width: 100px;
            position: absolute;
            left: $header-gutter;
            top: $header-gutter;
        }
        @media screen and (min-width: $breakpoint-lg) {
            width: 120px;
            top: calc(#{$gutter-md} + 70px);
            left: $gutter-md;
        }
        @media screen and (min-width: $breakpoint-lg) {
            width: 180px;
        }
        img {
            width: 100%;
        }
    }

    &__links{
        display: none;
        z-index: 999;
        justify-content: center;
        align-items: center;
        height: 100%;
        @media screen and (min-width: $breakpoint-md) {
            display: flex;
        }
        @media screen and (min-width: $breakpoint-xl) {
            right: 80px;
        }
        a {
            color: $white;
            margin-right: $gutter-sm;
            text-decoration: none;
            @media screen and (min-width: $breakpoint-lg) {
                margin-right: 2.5rem;
            }
            &:hover{
                text-decoration: underline;
            }
            &.active{
                text-decoration: underline;
            }
            @media screen and (min-width: $breakpoint-xl) {
                font-size: $font-size-md;
            }
            @media screen and (min-width: $breakpoint-xxl) {
                font-size: $font-size-md;
            }
        }

        &__socials{
            display: none;
            margin-right: $gutter-sm;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: $gutter-sm;
            }
            @media screen and (min-width: $breakpoint-xl) {
                display: flex;
            }
        }

    }

    &__hamburger{
        display: flex;
        align-items: center;
        z-index: 10;
        cursor: pointer;
        margin-right: $header-gutter;

        &__icon{
            width: 40px;
            height: 22px;
        }
        @media screen and (min-width: $breakpoint-md) {
            display: none;
        }
    }
    &__mobile-menu{
        position: fixed;
        left: 0;
        top: 0;
        display: none;
        height: 100%;
        width: 100%;
        z-index: 100;
        justify-content: space-between;

        &.active{
            display: flex;
        }

        &__backdrop{
            background-color: rgba(0, 0, 0, 0.5);
            width: 40%;
            height: 100%;
        }
        &__panel{
            width: 60%;
            height: 100%;
            background-color: $black;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            &__close{
                position: absolute;
                right: $header-gutter;
                top: $header-gutter;
                width: 28px;
                height: 28px;
                display: flex;
                justify-content: flex-end;
                cursor: pointer;
                img{
                    height: 100%;
                }
            }
            &__links{
                display: flex;
                flex-direction: column;
                margin-top: 75px;
                a {
                    color: white;
                    line-height: 2.25;
                    font-size: 1rem;
                    margin: 0;
                }
            }
        }

    }

}