.intro {
    display: flex;
    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: column;
    }
}

.person-page{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0rem;

    @media screen and (min-width: $breakpoint-md) {

        margin-top: 2rem;
        flex-direction: row;
    }

    &__left{
        width: 100%;
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
            margin-bottom: 1rem;
        }
        p{
            margin: .25rem 0 0;
        }
        @media screen and (min-width: $breakpoint-md) {
            width: 50%;
        }
    }
    &__right{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: $gutter-sm;
        @media screen and (min-width: $breakpoint-md) {
            margin-bottom: 0;
            margin-left: 1rem;
            width: calc(50% - 1rem);
            display: flex;
            // align-items: center;
            justify-content: center;
        }
        &__name{
            margin-bottom: 0;
            font-size: $font-size-xl;
        }
        &__role{
            margin: $gutter-xs 0 $gutter-md;
            font-size: $font-size-md;
            color: $primair-blauw;
        }
        &__business-card{
            border-left: 2px solid $primair-blauw;
            padding: 0 0 0 1.35rem;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            &__links{
                margin: $gutter-sm 0;
                @media screen and (min-width: $breakpoint-md) {
                    margin: $gutter-md 0;
                }
                a {
                    line-height: 1.5;
                }
            }
            &__vcard{
                @media screen and (min-width: $breakpoint-lg) {
                    display: none;
                }
            }
   
            &__btn{
                margin-bottom: $gutter-xs;
            }
        }
    }
}

.person-page-content{
    &__title{
        font-size: $font-size-xl;
    }
    &__project {
        display: flex;
        justify-self: flex-start;
        flex-direction: column;
        // border-bottom: 2px solid $primair-blauw;
        &--title{
            color: $primair-blauw;
            margin-bottom: 0rem;
        }
        p{
            margin-top: .25rem;
        }
        &--border{
            background-color: $primair-blauw;
            display: flex;
            width: 5rem;
            height: 2px;
            margin-bottom: 1rem;
        }
    }
}