.plane{
    background: #efefef;
    padding: $gutter-md;
    margin-bottom: $gutter-md;
    width: 100%;

    @media screen and (min-width: $breakpoint-sm) {
        padding: $gutter-md 0;
    }
    &__introduction{
        margin: 0 auto $gutter-md;
        line-height: $line-height-paragraph-lg;
    }
}