.slope-inline{
    width: 100%;
    z-index: 2;

    svg{
        width: 100%;
    }

    &--up {
        position: absolute;
        top: 0px;
        left: 0;
        width: calc(100% + 10px);
    }

    &--down {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: calc(100% + 10px);
        bottom: 0px;
        left: 0;
    }
}

.slope {
    background: url(/assets/img/angled_slope_red.svg) top left no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: -1px;
    height: 11vw
}
.slope--flip {
    background: url(/assets/img/angled_slope_red--flip.svg) top left no-repeat;
    background-size: cover;
    top: auto;
    bottom: -1px;
}