.slope-inline{
    width: 100%;

    svg{
        width: 100%;
    }

    &--up {
        position: absolute;
        top: 0;
    }

    &--down {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}
