.slope-inline{
    width: 100%;
    z-index: 2;

    svg{
        width: 100%;
    }

    &--up {
        position: absolute;
        top: -1px;
        left: 0;
        width: calc(100% + 10px);
    }

    &--down {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: calc(100% + 10px);
        bottom: -1px;
        left: 0;
    }
}
