body, main {
    background: $white;
    color: $black;
}
.slope {
    background: url(/assets/img/angled_slope_white.svg) top left no-repeat;
    background-size: cover;
}
.slope--flip {
    background: url(/assets/img/angled_slope_white--flip.svg) top left no-repeat;
    background-size: cover;
}
.header-with-image-overlay {
  background-color: #454545;
}
.tiltshift-2020-image-socials-block-overlay {
  background-color: #454545;
}
.label {
    background: #1D1621;
    color: #fff;
}
button {
  background: #1D1621 !important;
  color: #fff !important;
}
