


// Dimensions
$gutter-xs: .5rem;
$gutter-sm: 1.1rem;
$gutter-md: 2rem;
$gutter-xl: 4rem;

$header-gutter: $gutter-sm;

// Container dimensions
$container-width-sm: 720px;
$container-width-md: 1024px;
$container-width-lg: 1024px;
$container-sm: 960px;

$font-size-xs: .7rem;
$font-size-sm: .8rem;
$font-size-md: 1rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.5rem;

$font-size-heading-xs: .8rem;
$font-size-heading-sm: 1rem;
$font-size-heading-md: 1.2rem;
$font-size-heading-lg: 2rem;

$margin-bottom-block: $gutter-md;

$line-height-paragraph-lg: 1.5;