.body--variant-blue main {
    background: #4545E5;
}
.body--variant-blue .slope {
    background: url(/assets/img/angled_slope_blue.svg) top left no-repeat;
    background-size: cover;
}
.body--variant-blue .slope--flip {
    background: url(/assets/img/angled_slope_blue--flip.svg) top left no-repeat;
    background-size: cover;
    bottom: 0;
}
.body--variant-blue .header-with-image-overlay {
  background-color: #4545E5;
}
.body--variant-blue .tiltshift-2020-image-socials-block-overlay {
  background-color: #4545E5;
}
.body--variant-blue .label {
    background: #b4b4f4;
    color: #1C1C1B;
}
.body--variant-white main {
    background: #fff;
    color: #1C1C1B;
}
.body--variant-white .slope {
    background: url(/assets/img/angled_slope_white.svg) top left no-repeat;
    background-size: cover;
}
.body--variant-white .slope--flip {
    background: url(/assets/img/angled_slope_white--flip.svg) top left no-repeat;
    background-size: cover;
    bottom: 0;
}
.body--variant-white .header-with-image-overlay {
  background-color: #fff;
}
.body--variant-white .tiltshift-2020-image-socials-block-overlay {
  background-color: #fff;
}
.body--variant-white .label {
    background: #1C1C1B;
    color: #fff;
}