---
layout: two-col-screen
permalink: /fixxx/voorbeelden
subject: Fixxx
backlink: /fixxx
title: "TiltShift Fixxx voorbeelden"
description: "In een traject van twaalf weken gaat een team van designers en ontwikkelaars van TiltShift samen met uw eigen mensen aan de slag om een tastbaar probleem op te lossen. Daarbij worden organisatie, processen én software onder de loep genomen en op elkaar afgestemd."
keywords: ""
image: "assets/img/foto/IMG_8562.jpg"
caption: 'Fixxx Ideation "Schulddossier", Gemeente&nbsp;Amsterdam'
---
<p>{{ page.description }}</p>

<style>
  .label {
    display: inline-block;
    background: #eee;
    padding: 0 4px;
    font-size: 0.7em;
  }
</style>

{% for fixxx in site.fixxx %}
<p>
  <a href="{{ fixxx.permalink }}">{{ fixxx.title }}</a><br>
  {{ fixxx.subtitle }}<br>
  {% for label in fixxx.labels %}
  <span class="label">{{ label }}</span>
  {% endfor %}
</p>
{% endfor %}

<!--
<p>
  <a href="">Direct Melden Rembrandtplein</a><br>
  direct melden van uitgaansoverlast door omwonenden Rembrandtplein<br>
  <span class="label">handhavers "Vliegende Brigade"</span>
  <span class="label">omwonenden</span>
</p>
-->

<!--
<p>
  <a href="">Tour Buzz</a><br>
  dagelijks alle relevante informatie voor touringcarchauffeurs<br>
  <span class="label">Verkeer en Openbare Ruimte</span>
  <span class="label">touringcarchauffeurs</span>
</p>
-->

<!--
<p>
  <a href="">Snap de Brief</a>
</p>
-->

<!--
<p>
  <a href="">Clean Street</a>
</p>
-->

<!--
<p>
  <a href="">VraagMij</a>
</p>
-->

<!--
<p>
  <a href="">Schulddossier</a>
</p>
-->
