---
layout: default

permalink: /

title: We Develop<br>Good Public Tech
subtitle: Design software voor de mensen op de werkvloer, op straat en aan het bed.

description: Tiltshift is een design en innovatiebedrijf voor good public tech. We gebruiken software design thinking om samen software te maken. We ontwerpen innovatieve publieke digitale diensten, geven inzicht in processen, en maken handige digitale tools voor ambtenaren.
keywords: digitale transformatie, probleemgedreven innovatie, kwartiermaker, human centered design, software design thinking, service design, lean startup, lean ux, agile development, xp, scrum, labs, apps, projecten, advies, consultancy, publieke sector, mens centraal, common ground, open source

image: /assets/img/foto/IMG_1919.jpg
caption: 'Fixxx "Makkelijke Markt", Gemeente&nbsp;Amsterdam'
---
<p>Techniek dient de mens. Maar verouderde software, processen en structuren kunnen juist behoorlijk in de weg zitten. Zo ontstaan veel problemen, bij burgers en bedrijven, en binnen de eigen organisatie.</p>

<p>Tiltshift begint bij deze problemen. We gebruiken {% if site.methodes %}<a href="/methodes/software-design-thinking/">{%endif%}software design thinking{% if site.methodes %}</a>{% endif %} om samen passende software te ontwerpen en te maken. Zo vervangen we starre verouderde systemen door open source tools op maat.</p>

<p>Dat geeft weer ruimte voor verandering en voor snelle innovatie die werkt.</p>

{% if site.methodes %}<p>Bekijk onze <a href="/methodes/">methodes</a> om te zien hoe we te werk gaan.</p>{% endif %}

<p>Lees verder over <a href="/diensten/advies/">advies en begeleiding »</a>.</p>