---
layout: default--blue
permalink: /methodes/

title: Methodes
quote: Als je mensen niet over het hoofd wil zien, moet je ze betrekken in alle fases van het project.
description: "Al onze projecten richten we in op basis van software design thinking methodiek. Dat wil zeggen dat we grofweg dezelfde fases doorlopen: discovery, ideation, development, implementatie, delivery. Dat doen we in human centered, en in co-creatie met de verschillende stakeholders."
keywords: creative commons, methodes, design thinking, lean startup, service design, government digital services, agile, xp

image: /assets/img/foto/IMG_9253_scaled.jpg
caption: 'Explore "Digitalisering Interne Dienstverlening", Gemeente&nbsp;Amsterdam'
---
<p>{{ page.description }}</p>

<p>Afhankelijk van de scope van het probleem, het doel van het project, en een aantal andere criteria, hebben we daarvoor verschillende concrete methodes.</p>

<style>
  .label {
    display: inline-block;
    background: #b4b4f4;
    padding: 0 4px;
    font-size: 0.7em;
    color: #1C1C1B;
    border-radius: 0.2em;
  }
</style>

{% for methodes in site.methodes %}
<p>
  <a href="{{ methodes.url }}">{{ methodes.title }}</a><br>
  {{ methodes.description }}<br>
  {% if methodes.type %}
  <span class="label">{{ methodes.type | downcase }}</span>
  {% endif %}
  {% for label in methodes.labels %}
  <span class="label">{{ label }}</span>
  {% endfor %}
</p>
{% endfor %}