<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- WRAPPER TO PREVENT FULL WIDTH -->
    <!-- <div style="max-width: 1024px; margin: auto"> -->

      <!--<nav>
        {% include nav.html %}
      </nav>-->

      <header>
        {% include header.html %}
      </header>

      <main>
        <h1>{{ page.title_html | default: page.title }}</h1>
        {{ content }}
        <!--
        {% include tiltshift-2020-contact-form-block.html %}
        {% include tiltshift-contact-button.html %} -->
      </main>

      <footer>
        {% include footer.html %}
      </footer>

    <!-- </div> -->

  </body>

</html>
