<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.variant %}body--variant-{{ page.variant }}{% endif %}">

    <header>{% include header.html %}</header>

    <main>

    {% if page.back %}
    <p><a href="{{ page.back }}">« overzicht van {{ page.collection }}</a></p>
    {% endif %}

    {% if page.type %}
    <h2>&nbsp;{{ page.type }}:</h2>
    {% endif %}

    <h1>{{ page.title }}</h1>

    {{ content }}

    {% if page.back %}
    <p><a href="{{ page.back }}">« overzicht van {{ page.collection }}</a></p>
    {% endif %}

    {% unless page.hideform %}
    {% include contact.html %}
    {% endunless %}

    </main>

    <footer>{% include footer-new.html %}</footer>

  </body>

</html>
