<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <style>
      html {
        min-height: 100%;
      }
      body {
        margin: 0;
        padding: 0 50px;
        font-size: 1em;
        min-height: 100%;
        background: url(/assets/img/tiltshift-bg-angled.svg) bottom right no-repeat;
      }
    </style>

    {% include header.html %}

    <main>
      <style>
        main {
          padding-top: 200px;
        }
      </style>
      <script>
        $("main").hide();
        $("main").fadeIn(1000);
      </script>

      {% include tiltshift-title.html %}

      {% include tiltshift-content.html %}

      {% include tiltshift-menu.html %}

      {% include tiltshift-contact-button.html %}
    </main>

    {% include footer.html %}
  </body>
</html>
