<!DOCTYPE html>
<html>

  {% include head.html %}

  <body style="background: #6089BE">

    <a class="navigation__logo" href="/"><img src="/assets/img/logo_cropped.svg"></a>

    <div class="navigation__mobile-menu__panel" style="width: 100%">
      <a href="/">
        <div class="navigation__mobile-menu__panel__close">
          <img class="navigation__mobile-menu__panel__close__icon" src="/assets/img/close.svg">
        </div>
      </a>
      <div class="navigation__mobile-menu__panel__links">
        {% include main-links.html %}
      </div>
    </div>

    <style>
      .slope-inline,
      .links-section,
      .footer__inner__columns__logo { display: none; }
    </style>
    <footer>{% include footer.html %}</footer>

  </body>
</html>
