<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{% if page.variant %}body--variant-{{ page.variant }}{% endif %}">
    <header>{% include navigation.html %}</header>
    <main {% if page.hideBanner %}class="margin-top"{% endif %}>
      <!-- {% if page.back %}
      <p><a href="{{ page.back }}">« overzicht van {{ page.collection }}</a></p>
      {% endif %} -->

      <div class="container-md">
        <div class="intro"></div>

        <div class="person-page">
          <div class="person-page__left">
            <img src="{{ page.personImage }}" alt="Foto {{ page.title }}"/>
          </div>
          <div class="person-page__right">
            <h1 class="person-page__right__name">{{ page.title }}</h1>
            <h3 class="person-page__right__role">{{ page.type }}</h3>
            {% if page.email %}
              <div class="person-page__right__business-card">
                <div class="person-page__right__business-card__links">
                  {% if page.telephone %}
                    {{page.telephone}}<br/>{% endif %}
                  {%
                if page.email %}
                    <a href="mailto:{{page.email}}">{{page.email}}</a><br/>{% endif
                %}
                  {% if page.linkedInUrl %}
                    <a href="{{page.linkedInUrl}}">LinkedIn</a>
                  {% endif %}
                  {% if page.vcardUrl %}<br/>
                    <a class="person-page__right__business-card__vcard" href="{{page.vcardUrl}}" download>vCard downloaden</a>
                  {% endif %}
                </div>

                <a class="person-page__right__business-card__btn btn btn--white" href="/contact">of neem contact op met Tiltshift</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="container-sm person-page-content">
        <blockquote>
          <p>{{page.quote}}</p>
        </blockquote>

        {{ content }}

        {% if page.projects %}
          <h2 class="person-page">Projecten</h2>
          {% for p in page.projects %}
            <div class="person-page-content__project">
              <h3 class="person-page-content__project--title">
                {{ p[0] }}
              </h3>
              <p>{{ p[1]|markdownify }}</p>
              <div class="person-page-content__project--border"></div>
            </div>
          {% endfor %}
        {% endif %}

        {% if page.previousProjects %}
          <h2 class="person-page">Eerdere projecten</h2>
          {% for p in page.previousProjects %}
            <div class="person-page-content__project">
              <h3 class="person-page-content__project--title">
                {{ p[0] }}
              </h3>
              <p>{{ p[1]|markdownify }}</p>
              <div class="person-page-content__project--border"></div>
            </div>
          {%- endfor -%}
        {% endif %}
        </div>

        {% include people-table.html excludeCurrent=true %}

        {% comment %}
        {% if page.back %}
          <p>
            <a href="{{ page.back }}">« overzicht van {{ page.collection }}</a>
          </p>
        {% endif %}
        {% endcomment %}

        {% unless page.hideform %}
          <!-- {% include contact.html %} -->
        {% endunless %}
      </main>
      <footer>{% include footer.html %}</footer>
    </body>
  </body>
</html>