<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if page.variant %}body--variant-{{ page.variant }}{% endif %}">
  <header>{% include navigation.html %}</header>
  <main {% if page.hideBanner %}class="margin-top"{% endif %}>
    <!-- {% if page.back %}
    <p><a href="{{ page.back }}">« overzicht van {{ page.collection }}</a></p>
    {% endif %} -->

    <div class="container-md">
      <div class="intro">
        <h1>{{ page.title }}</h1>
        <h3 class="person-page__content__type">{{ page.type }}</h3>
         {{ content }}
      </div>
      <div class="person-page">
        <div class="person-page__left">
          <img src="{{ page.personImage }}" alt="" />
         
        </div>
        <div class="person-page__content">
          <p>
          {% if page.telephone %}{{page.telephone}}<br />{% endif %}
          {% if page.email %}<a href="mailto:{{page.email}}">{{page.email}}</a><br />{% endif %}
          {% if page.linkedInUrl %}<a href="{{page.linkedInUrl}}">LinkedIn</a>{% endif %}
          </p>
          <blockquote>
            <p>{{page.quote}}</p>
          </blockquote>
        </div>
      </div>
    </div>

    {% include people.html excludeCurrent=true %}

    {% if page.back %}
    <p><a href="{{ page.back }}">« overzicht van {{ page.collection }}</a></p>
    {% endif %}

    {% unless page.hideform %}
    <!-- {% include contact.html %} -->
    {% endunless %}
  </main>
  <footer>{% include footer.html %}</footer>
</body>
</html>
