<!DOCTYPE html>
<html style="min-height: 100%">

  {% include head.html %}

  <body style="margin: 0; padding: 0; font-size: 1em; min-height: 100%; background: url(/assets/img/tiltshift-bg-angled.svg) bottom right no-repeat;">

    {% include header.html %}

    <main>

      <style>
        main {
          display: flex;
          padding: 0 50px;
        }
        .main-content {
          width: 400px;
          padding-top: 200px;
          text-align: justify;
        }
        .main-image {
          flex: auto;
          background: black;
          margin: 0 70px 0 40px;
        }
      </style>

      <div class="main-content">
        {% include tiltshift-title.html %}

        {% include tiltshift-content.html %}

        {% include tiltshift-menu.html %}

        {% include tiltshift-contact-button.html %}
      </div>

      <div class="main-image" style="background: url({{ page.image }}) center center no-repeat; background-size: cover"></div>

    </main>

    <script>
      $(".tiltshift-hamburger-link").click(function (e) {
        e.preventDefault();
        $(".tiltshift-hamburger-overlay").fadeIn(400);
      });

      $(".tiltshift-close-link").click(function (e) {
        e.preventDefault();
        $(".tiltshift-hamburger-overlay").fadeOut(400);
      });
    </script>

  </body>
</html>
